<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <link href='css/main.css' rel='stylesheet'>
 <link href="css/bootstrap.min.css" rel="stylesheet">
<head>
  <title>MyTrailer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>

<% if user_signed_in? %>

    <nav class="navbar navbar-inverse navbar-static-top"> 
       <div class = "container-fluid"> 
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
              Signed in as <%= current_user.username %> 
           </a>

              <button class ="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
              </button>
              </div>
        <div class= "collapse navbar-collapse navHeaderCollapse">

            <ul class = "nav navbar-nav navbar-right">
               <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
               <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>  
            </ul>
        </div>
     </div>
   </nav>
  <% else %>
   <nav class="navbar navbar-inverse navbar-static-top"> 
       <div class = "container-fluid"> 
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
              MyTrailer 
           </a>

              <button class ="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
              </button>
              </div>
        <div class= "collapse navbar-collapse navHeaderCollapse">
            <ul class = "nav navbar-nav navbar-right">
               <li> <%= link_to "Sign up", new_user_registration_path %>  </li>
               <li> <%= link_to "Login", new_user_session_path %></li>  
               <li> <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%> </li>
            </ul>
        </div>
     </div>
    </nav>
  <% end %>
<%= yield %>

</body> 
</html>

 <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
